{% extends "@BirkTwig/home.html.twig" %}

{% block content %}
    <h1>
        All the cool Events
    </h1>
    {% for e in events %}

        <div class="element">
            <h3>{{ e.nom }}</h3>
            <img src="{{ e.image.url }}" alt="{{ e.image.alt }}">
            <p>{{ e.description }}</p>
            <p> 
                debut: {{ e.debut|date("d/m/Y H:i") }} - 
                fin : {{ e.fin|date("d/m/Y H:i") }}
            </p>
            <a href="{{ path('birk_my_events_eventsone')~'/'~e.id}}">++++++ en savoir plus ++++++</a>
        </div>
    {% endfor %}

{% endblock %}